html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// ----- Mixins -----

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

:root {
    --txt: hsl(224,23%,55%);
    --titles: hsl(223,47%,23%);
    --bkg-order: hsl(225,100%,98%);
    --bkg-page: hsl(225,100%,94%);
    --bkg-btn: hsl(245,75%,52%);
    --bkg-btn-hover: hsla(245,75%,52%,0.65);
    --bkg-light: hsl(255, 100%, 100%);
}

body {
    width: 100vw;
    min-height: 100vh;    
    // position: relative;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--bkg-page);
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6rem;
    color: var(--txt);
    margin: 0;
    padding: 0;
    @include flex-column-center;
}

// ----- General Modifiers -----

.box-red {
    border: 1px red solid;
}

.box-blue {
    border: 1px blue solid;
}

.box-green {
    border: 1px green solid;
}

.txt-bold {
    font-weight: 700;
}

.txt-xbold {
    font-weight: 900;
}

// ----- Block - Element - Modifiers -----
.card {
    max-width: 450px;
    background-color: var(--bkg-light);
    border-radius: 2rem;
    @include flex-column-center;
    box-shadow: 0px 15px 30px hsla(245deg, 75%, 52%, .65);
    &__hero {
        &__image {
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
        }
    }
    &__content {
        width: 80%;
        @include flex-column-center;
        &__title {
            font-size: clamp(2rem, 2vw, 3rem);
            padding: 2rem 0;
            color: var(--titles);
        }
        &__text {
            font-size: 1.6rem;
            text-align: center;
            padding-bottom: 1rem;
            line-height: 1.5;
        }
    }
    &__plan {
        width: 80%;
        height: 10vh;
        background-color: var(--bkg-order);
        border-radius: 2rem;
        @include flex-row-center;
        &__icon {
            width: 25%;
            &__image {
                display: block;
                margin-left: auto;
                margin-right: auto;
                // padding-right: 1rem;
            }
        }
        &__content {
            width: 50%;
            @include flex-column-start;
            &__title {
                color: var(--titles);
            }
        }
        &__change {
            width: 25%;
            @include flex-column-center;
            &__link {
                &:hover {
                    text-decoration: none;
                    color: hsla(245,75%,52%,.65);
                }
            }
        }
    }
    &__buttons {
        width: 80%;
        min-height: 20vh;
        @include flex-column-center;
        &__payment {
            background-color: var(--bkg-btn);
            color: var(--bkg-light);
            width: 100%;
            height: 5rem;
            text-align: center;
            vertical-align: middle;
            line-height: 5rem;
            border-style: none;
            border-radius: 1rem;
            text-decoration: none;
            margin-bottom: 2rem;
            box-shadow: 0px 15px 30px hsla(245deg, 75%, 52%, .65);
            transition: background-color .3s ease;
            &:hover {
                background-color: var(--bkg-btn-hover);
            }
        }
        &__cancel {
            height: 5rem;
            text-align: center;
            vertical-align: middle;
            line-height: 5rem;
            text-decoration: none;
            color: var(--txt);
            &:hover {
                color: var(--titles);
                font-weight: 700;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    color: var(--titles);
}
